.container {
    height: 100%;
    background: white;
    display: flex;
}

.channel {
    background: white;
    flex: 3;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin-bottom: 102px;
    height: 100%;
}