body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  border: none;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;
  cursor: pointer;
  background-color: #424242;
}

input {
  width: 10%;
  padding: 6px;
  border: 1px solid #cbcbcb;
  outline: none;
}

.container {
  height: 100%;
  background: white;
  display: flex;
}

.align-left {
  width: 15%;
  float: left;
  border-right: thick solid;
}

.align-right {
  width: 85%;
  float: left;
}

.channel-list {
  background: white;
  flex: 1;
  border-right: 1px solid #cbcbcb;
  overflow-y: scroll;
  margin: 10px;
  justify-content: center;
}

.channel {
  background: white;
  flex: 3;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  margin-bottom: 102px;
  height: 100%;
}

.channel-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #cbcbcb;
}

.channel-header {
  padding: 12px;
  font-size: 36px;
  font-weight: 800;
  width: 50%;
  display: flex;
  #channel-name-input{
    width: 100%;
    padding: 6px;
    border: 1px solid #cbcbcb;
    outline: none;
  }
}

.message-input, .channel-input {
  position: fixed;
  bottom: 0;
  display: flex;
  border-top: 1px solid #cbcbcb;
  width: 100%;
  padding: 12px;
  background: white;

  #textMessage {
    width: 50%;
    padding: 6px;
    border: 1px solid #cbcbcb;
    outline: none;
  }
}

.message-item {
  margin: 12px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.message.message-from-you{
  margin-left: auto;
  background: #39a9ff;
  flex-direction: row;
  margin-right: 12px;
}

.message-item.message-from-you{
  flex-direction: row;
}

.members-list {
  border-left: 0 solid #cbcbcb;
  padding: 12px;
  flex: 2;
  align-items: center;
}

.member-item {
  cursor: pointer;
  font-weight: 600;
  border-bottom: 1px solid #cfcfcf;
  padding: 8px 0 4px;
  display: flex;
  align-items: center;
}

.hr-solid {
  width: 100px;
  border: 0;
  border-top: 5px solid #663399;
}

.message-list {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.message {
  border-radius: 8px;
  width: 70%;
  background: #8a2be2;
  color: white;
  padding: 24px;
  margin-left: 12px;
}

.channel-type {
  padding: 12px;
  color: #6210CC;
  display: flex;
}

.channel-list-item {
  background: #fcfcfc;
  padding: 12px;
  border-top: 1px solid #ececec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 42px;
}

.channel-list-item:hover {
  background: #f0f0f0;
}

.channel-list-item-name {
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  max-width: 75ch;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
}

.members {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-info {
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  line-height: 24px;
}

.oc-message-sender-name, .message-sender-name {
  font-weight: 600;
  margin-right: 4px;
}

.oc-message, .message-og-tags {
  padding: 12px 0;
  display: flex;
}

.oc-message-og-tags, .message-og-tags {
  flex-direction: column;
  padding: 5px;
  box-sizing: border-box;
}

.control-button {
  padding: 4px;
  margin-right: 1px;
}

.oc-members-list {
  margin-bottom: 80px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.logo {
  font-size: xx-large;
  color: #8b00ff;
  text-align: center;
}

.align {
  text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-container {
  width: 300px;
  margin: auto;
  padding-top: 15vh;
}

.login-input-field {
  margin-bottom: 20px;
}

.login-input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.login-button {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  background-color: #6210CC;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
