html, body, #root, #root>div {
  height: 100%
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img{
  width:300px;
}

button{
  border: none;
  color: white;
  padding: 14px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:2px;
  cursor: pointer;
  background-color: #424242;
}

input{
  width: 30%;
  padding: 6px;
  border: 1px solid #cbcbcb;
  outline:none;
}


p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  height:100%;
  background:white;
  display: flex;
}

.channel-type{
  padding: 12px;
  color: #6210CC;
}

.channel-list {
  background: white;
  flex:1;
  border-right: 1px solid #cbcbcb;
  overflow-y: scroll;
}

.channel-list-item{
  background: #fcfcfc;
  padding:12px;
  border-top: 1px solid #ececec;
  display:flex;
  justify-content: space-between;
  min-height: 42px;
}

.channel-list-item:hover{
  background:#f0f0f0;
}

.channel-list-item:hover .channel-icon{
  visibility: visible;
}

.last-message{
  font-weight:300;
}

.channel-list-item-name{
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  max-width: 75ch;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex:1;
}

.channel-icon{
  visibility:hidden;
  width: 20px;
}

.channel{
  background: white;
  flex: 3;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  margin-bottom: 72px;
}

.leave-channel{
  margin-left: 12px;
  padding: 8px;
}

.message-list{
  height: 100%;
  display: flex;
  flex-direction: column;

}

.message-item{
  margin: 12px;
  display:flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.message.message-from-you{
  margin-left: auto;
  background: #39a9ff;
  flex-direction: row;
  margin-right: 12px;
}

.message-item.message-from-you{
  flex-direction: row;
}

.oc-message{
  padding:12px 0px;
  display:flex;
}


.message{
  border-radius: 8px;
  width:70%;
  background: #4c4c4c;
  color:white;
  padding: 24px;
  margin-left: 12px;
}

.oc-message{
  padding:12px;
}

.message-info{
  margin-bottom:4px;
  display: flex;
  justify-content: space-between;
  line-height: 24px;
}

.message-icon{
  visibility:hidden;
  width: 14px;
  filter: brightness(0) invert(1);
}

.oc-message-icon{
  visibility:hidden;
  width: 14px;
}

.message:hover .message-icon{
  visibility: visible;
}

.oc-message:hover .oc-message-icon{
  visibility: visible;
}

.message-user-info{
  display:flex;
}

.oc-message-sender-name{
  color:#6210CC;
  margin-left:4px;
  font-weight: 600;
  margin-right:4px;
}

.message-sender-name{
  font-weight: 600;
  margin-right:4px;
}

.channel-header{
  padding: 12px;
  font-size: 24px;
  font-weight: 800;
}

.members-list{
  border-left: 1px solid #cbcbcb;
  padding: 12px;
}

.member-item{
  padding: 8px 0px 0px 0px;
  cursor: pointer;
  font-weight: 600;
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 4px;
  display:flex;
  align-items: center;
}

.member-item:hover{
  background:#f0f0f0;
}

.member-item-name{
  margin-left:12px;
}

.member-selected{
  color: #62EEAB;
}

.message-input{
  position: fixed;
  bottom: 0px;
  display: flex;
  border-top: 1px solid #cbcbcb;
  width: 100%;
  padding: 12px;
  background: white;
}

.overlay{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #ecececb0;
  z-index: 1;
}

.overlay-content{
  overflow-y: scroll;
  max-height: 400px;
  padding:80px;
  opacity: 1;
  background: white;
  border: 1px solid #cbcbcb;
  width: 40%;
}

.form-input{
  margin-top: 12px;
  margin-bottom: 12px;
  padding:18px;
  width:100%;
  border-radius: 2px;
}

.form-button{
  margin-right:4px;
}

.user-submit-button{
  background-color: #6210CC;
}

.channel-create-button{
  background-color: #62EEAB;
}

.send-message-button{
  border-radius: 0px 4px 4px 0px;
  margin-right:8px;
}

.control-button{
  background: inherit;
  padding:4px;
  margin-right:1px;
}

.error{
  background:rgb(26, 22, 22);
  display:flex;
  padding:24px;
  width:100%;
}

.file-upload-label{
  cursor:pointer;
}

.file-upload-label img{
  width: 46px;
  vertical-align: middle;
}

.profile-image-fallback{
    width: 50px;
    background: #e9e9e9;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image{
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.typing-indicator {
  position: fixed;
  bottom:80px;
  background-color: #fff;
  opacity: 0.8;
  margin-left: 20px;
  margin-top:20px;
  font-weight: 500;
}

.frozen-toast {
  position: sticky;
  top:0;
  width: 100%;
  line-height: 30px;
  opacity: 70%; 
  background-color: rgb(173,201,255);
  text-align: center;
}

.frozen-icon {
  width: 20px;
  margin-left: 5px;
}
